.quiz-page {
  background-color: #f5f7fb;
  min-height: 100vh;
}

.quiz__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0px 25px;
  display: flex;
  flex-direction: column;
}

.quiz__results {
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.quiz__results-text {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 20px;
}

.quiz__results-btn {
  padding: 8px 14px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}

.quiz__replay-btn {
  padding: 10px 21px;
}
