.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  min-height: 20px;
  border: 1px solid #4d589e;
  border-radius: 7px;
  padding: 2px 3px;
  margin: 0px 13px 10px 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}

.answer_chosen {
  background-color: #d6d8f5;
}

.answer_chosen_wrong {
  background-color: #f6d9db;
}

.answer_chosen_right {
  background-color: #94d7a2;
}
